/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
:root{
    /* CSS HEX */
--dust-grey: #dad7cdff;
--dry-sage: #a3b18aff;
--fern: #588157ff;
--hunter-green: #3a5a40ff;
--pine-teal: #344e41ff;
}
body{
    background-image: url(./bilder/e009845d-e607-4663-ae19-06dd50240ca7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.kontainer {
    width: 70vw;
    margin: auto;
    background-color: var(--fern);
    margin-top: 3rem;   /* 1rem = 16px */
    padding: 3rem;
    border-radius: 5px;
    border-color: var(--hunter-green);
    border: 10px solid;
}
.kontainer header {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    
}
.kontainer header nav { 
    display: flex;
    
    gap: 5rem;
    margin-left: 13rem;
    padding: 15px 15px;
    width: fit-content;
    
    
}
.kontainer header .circle
{
    margin-top: 1rem;
     
   margin-left: 3rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.3s;
}
.kontainer header nav a{
    border: 1px solid black;
    border-radius: 4px;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: var(--dust-grey);
    color: var(--pine-teal);

    text-decoration: none;
}

.kontainer header nav a.aktiv{}

.kontainer main {
    margin-top: 6rem;
    border: 1.px solid black;
}
.kontainer main h1{
    margin-left: 29rem;
    font-size: 5rem;

}

.kontainer main .orm {
  display: flex;
    justify-content: center;


}
.kontainer main .orm img{
  
    width: 20rem;
    height: 20rem;
    border-radius: 70%;
    border: 10px solid;
    border-color: var(--hunter-green);
    

    
}
.kontainer main .orm figcaption {
      margin-left: 2rem;
      margin-top: 2rem;
    
}

.kontainer main article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    margin-top: 4rem;
    
    
}
.kontainer main article .anakonda h2 {}
.kontainer main article .anakonda figure img{
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 70%;
     border: 10px solid;
    border-color: var(--hunter-green);
}
.kontainer main article .anakonda figure figcaption{}

.kontainer main article .vattenorm h2 {}
.kontainer main article .vattenorm figure img{
       width: 17.5rem;
    height: 17.5rem;
    border-radius: 70%;
     border: 10px solid;
    border-color: var(--hunter-green);
}
.kontainer main article .vattenorm figure figcaption{}

.kontainer main article .buskmästare h2 {}
.kontainer main article .buskmästare figure img{
       width: 17.5rem;
    height: 17.5rem;
    border-radius: 70%;
     border: 10px solid;
    border-color: var(--hunter-green);
}
.kontainer main article .buskmästare figure figcaption{}

.kontainer main .video-lada{
    
    display: none;
    background-color: #2c3e50;
    padding: 15px;
    border-radius: 8px;
}

.kontainer aside h3 {}
.kontainer footer {
     margin-top: 12rem;
}
.kontainer footer h3 {}